.breedCard {
  border: 1px solid #817c7c;
  border-radius: 8px;
  padding: 6px 16px 20px 16px;
  margin: 16px;
  text-align: center;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.breedCard:hover {
  background-color: #383737;
  transform: scale(1.03);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.breedTitle {
  margin: 0;
}

.breedTitle::first-letter {
  text-transform: uppercase;
  padding: 5px;
}

.breedImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.iconContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding: 5px;
}

.likeIcon {
  cursor: pointer;
  color: gray;
}

.likeIcon:hover {
  cursor: pointer;
  color: rgb(163, 163, 163);
}

.likeIcon.liked {
  color: red;
}

.deleteIcon {
  cursor: pointer;
  color: gray;
}

.deleteIcon:hover {
  color: black;
}